<!DOCTYPE html>
<html>
  <head>
    <title>Lista de estados com api</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Selecione um Estado</h1>
    <select name="" id="">
      <% states.forEach(state =>{ %>
      <option value=""><%= state.nome %> </option>

      <% }) %>
    </select>
  </body>
</html>
